fieldset {
  border: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.special {
  color: orange;
}

.date {
  color: red;
  font-size: large;
}

.bold {
  font-weight: bold;
  font-size: medium;
}

.petContainer {
  border: 1px solid #ccc;
  max-width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  max-width: 1000%;
  margin: 0 auto;
  /* Center the div horizontally */
}

.pet {
  /* Additional styling for the child elements */
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  flex: 1;
}

.display {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;

  max-width: 20%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Adjust as needed */
}

.border {
  border: 1px;
}

.inputElement {
  flex: 1;
  margin-right: 10px;
  /* Adjust as needed */
}

.petForm {
  display: flex;
  justify-content: space-between;
}
